@import "tailwindcss";

:root {
  --background: #0b0f19;
  --foreground: #ededed;
  --primary: #10b981;
  --primary-dark: #059669;
  --secondary: #334155;
  --navbar-height-mobile: 190px;
  --navbar-height-desktop: 300px;
}

.main-content-offset {
  padding-top: var(--navbar-height-mobile);
}

@media (min-width: 768px) {
  .main-content-offset {
    padding-top: var(--navbar-height-desktop);
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-orbitron);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

/* Scrollbar for sidebar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scan {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(500%);
  }
}